<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Vue Mastery</title>
  <!-- Import Styles -->
  <link rel="stylesheet" href="./assets/styles.css" />
  <!-- Import Vue.js -->
</head>

<body>
  <script src="https://unpkg.com/vue@3"></script>

  <div id="app"> </div>

  <div id="produits">
    <div class="nav-bar">
      <h2>{{brand}}</h2>
    </div>
    <div class="cart">Cart({{cart}})</div>
    <div class="product-display">
      <div class="product-container">
        <div v-bind:class="productimage ">
          <img :class="[disableButton ? 'out-of-stock-img':'']" v-bind:src="image" :alt="altImage">
        </div>
        <div class="product-info">
          <h1>{{title}}</h1>
          <p>Product : {{product}}</p>
          <span style="display: flex;">
            <p>Colors :
              <div class="color-circle" v-bind:style="{backgroundColor:varient.color}"
                v-for="(varient, index) in varients" v-on:mouseover="updateImage(index)">
              </div>
            </p>
          </span>
          <p>Size : <span v-for="size in productSize">{{size}},</span> </p>
          <p>Details : <span v-for="detail in details ">{{detail}}, </span></p>
          <p>Discription : {{productDiscription}}</p>
          <p>Stok : {{stok}}</p>
          <p v-if="stok>10">In stock</p>
          <p v-else-if="stok > 0 && inventory <10"> Almost sold out!</p>
          <p v-else>Out of stock</p>

        </div>
        <div :style="porductSizeStyle">
          <button :class="[disableButton ? 'disabledButton': '']" v-on:click="checkInventory(cart)" class="button ">Add
            to cart</button>
          <button v-on:click="removeArticleFromCart(cart)" v-if="cart>0" class="button">Remove</button>
        </div>
      </div>
    </div>

  </div>

  <!-- Import App -->
  <script src="./main.js"></script>

</body>

</html>